
services:
  asimap: &imap-service
    image: asimap:prod
    container_name: asimap
    build:
      context: .
      dockerfile: ./Dockerfile
      target: prod
      platforms:
        - "linux/amd64"
        - "linux/arm64"
    ports:
      - "993:993"
    restart: unless-stopped
    env_file: .env
    volumes:
      - "${OPT_ASIMAP_DIR}:/opt/asimap"
    profiles:
      - prod

  asimap-dev:
    <<: *imap-service
    image: asimap:dev
    container_name: asimap-dev
    cap_add:
      - SYS_PTRACE
    volumes:
      - ./:/app:z
      - "${OPT_ASIMAP_DIR}:/opt/asimap"
    profiles:
      - dev
